*{
    outline: none;
}
body{
    font-style: 'poppins' sans-serif;
}
header{
    z-index: 100;
    position: relative;
}
.navbar{
    background: transparent !important;
    
}

.banner{
    position: relative;
    top: 0;
    width: 100%;
    height: 180vh;
    background: url(./6.jpg);
    margin-bottom: 0;
    background-size: cover;
}
.banner:before,.sec2:before ,.contact:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(#000,transparent);
    pointer-events: none;
}
.banner:after,.sec2:after,.contact:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(360deg,#000,transparent);
    pointer-events: none;
}
.height100p{
    height:180vh
}
.height100{
    height: 100%;
}
.contentbox{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.contentbox h1{
    color: rgba(0,0,0,.7);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 4rem;
}
.contentbox p{
    color: #000;
    font-weight: 800;
    text-transform: none;
    font-size:1rem;
}
.sec1{
    background-color: #000;
    padding: 100px 0;
}
.headerText{
    color: #ffffff;
}
.headerText h2{
    font-size: 2.5rem;
}
.placebox{
    position: relative;
    max-width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #000;
    margin-top: 30px;
}
.placebox .imagebox{
    width: 100%;
    height: 100%;
}
.placebox .imagebox img{
    height: 400px;
}
.placebox .content{
    position: absolute;
    bottom:  0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.placebox .content h3{
    position: relative;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    background: rgba(0,0,0,.7);
}
.placebox .content h3 span{
    font-weight: 500;
    font-size: 17px;
}
.sec2{
    position: relative;
    background-image: url(./12.jpg);
    background-size: cover;
    
}
.sec2 h2{
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.sec2 p{
    color: #ffffff; 
}
.btnD1{
    border:2px solid#ffffff;
    border-radius: 50px;
    background: #ffffff;
    color: #000000;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}
.btnD1:hover{
    background-color: aqua;
}
.blog{
    position: relative;
    padding: 100px 0;
    background-color: #000000;
}
.blogpost{
    position: relative;
    width: 100%;
    margin-top: 30px;
    background: #ffffff;
}
.blogpost .imgbox{
    height: 350px;
}
.blogpost .imgbox img{
    
    width: 100%;
    object-fit: cover;
}
.blogpost .content{
    padding: 15px;
}
.blogpost .content h1{
    margin: 0;
    padding: 0 0 10;
    font-weight: 600;
  
    font-size: 1.5rem;
}
.btnD2{
    border:2px;
    border-radius: 50px;
    background: #000000;
    color: #ffffff;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
    float: right;
}
.contact{
    position: relative;
    
    background-image: url(./contact-us.jpg);
    background-size: cover;
    min-height: 100vh;
}
.contact form{
    z-index: 1000;
    position: relative;
}
.contact .form-control{
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,.3);
    border-radius: 0px;
    background: rgba(0,0,0,.7);
    color: #ffffff;
}

.contact .form-control:focus,
.contact .form-control:hover{
    border: none;
    border-bottom: 2px solid rgba(255,255,255,1);
    box-shadow: none;
}
footer{
    background: #000000;
    padding: 50px 0 0;
}
.sci{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li{
    list-style: none;
    margin: 0 20px;
}
.sci li a{
    color: #797878;
    font-size: 2em;
    transition: 0.5s;
}
.sci li a:hover{
    color: #ffffff;
}
.copyrt{
    text-align: center;
    color: #777777;
    margin-top:20px ;
}